@charset "utf-8";

.company_wrap {
  margin-bottom: 10rem;
  opacity: 0;
  transform: translateY(200px);
  animation: show .8s 1.4s forwards;
}

.convention_tit {
  opacity: 0;
  transform: translateY(200px);
  animation: show .8s 1s forwards;
  h3 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }
  p {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 4rem;
  }
}

.company_wrap {
  border-top: 1px solid var(--blue);
  .items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    padding: 4rem 0;
    box-sizing: border-box;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30rem;
      height: 30rem;
      border: 1px solid var(--blue);
    }
  }
}